@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product Catalog";
}

<a asp-action="Create"
    asp-controller="Product">Create Product</a>

<h1>All available products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Category)
            </th>
            @*TODO: Add Description*@
        </tr>
    </thead>
    <tbody>
        @foreach(Product p in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => p.Name)
            </td>
            <td>
                @Html.DisplayFor(m => p.Price)
            </td>
            <td>
                @Html.DisplayFor(m => p.Category)
            </td>
        </tr>
        }
    </tbody>
</table>